* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*    text-decoration: none;*/
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
}

.header {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 100px;
}

.header__logo {
    width: 195px;
    height: 95px;
    border-radius: 10px;
}

.header__icono {
    font-size: 32px;
    color: orange;
    text-decoration: none;
    display: none;
}

.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__item {
    margin-left: 16px;
    color: aqua;
}

.nav__item--oculto {
    display: none;
}

.h2__color {
    color: orange;
    /*font-style: normal;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

main {
    margin-top: 100px;
    min-height: 80vh;
    /*    background: linear-gradient(to right, #F27121, #b32a3d, black);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #24adaf, #074e5d, rgb(1, 29, 36));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* inicio1 */
.main__inicio1 {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: relative;
}

.main__inicio1__izq {
    width: 50%;
    /* border: 2px solid orange; */
}

.main__inicio1__ilustracion {
    padding-top: 5px;
}

.main__inicio1__der {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__inicio1__whatsapp {
    color: darkgreen;
    font-size: 32px;
    text-decoration: none;
}

.main__inicio1__texto {
    font-size: 40px;
    font-weight: 700;
    /*   text-transform: uppercase;*/
    font-style: normal;
}

.main__inicio1__titulo {
    font-size: 50px;
    font-weight: 500;
    /*   text-transform: uppercase;*/
    margin-bottom: 0.5rem;
}

.main__inicio1__color {
    background-color: rgb(1, 29, 36);
    border-radius: 15px;
    /*    color: chocolate;*/
    color: orange;
    font-style: italic;
    font-weight: bold;
    margin-left: 250px;
}

.main__inicio1__parrafo {
    font-size: 30px;
    line-height: 1.8;
    /* Interlineado */
    margin-bottom: 1rem;
}

.card {
    background-color: chocolate;
    /* rgb(16, 140, 140);*/
    color: rgb(16, 4, 62);
    width: 249px;
    height: 250px;
    padding: 8px 20px 16px 16px;
    margin: 0px;
    /*espaciado interno entre el contenido y el borde arriba derecha abajo izquierda*/
    border: 2px solid black;
    /*border-top .... se pueden poner los 4 por separado*/
    overflow: auto;
    display: inline-block;
    border-radius: 4px;
    /*redondeo bordes*/
    box-shadow: 5px 4px 10px rgb(108, 101, 101);
    /*sombra*/
    /*  text-align:justify;*/
    margin-left: 10px;
    ;
}

.card__imagen {
    border-radius: 10px;
    margin-bottom: 10px;
}

.card__parrafo {
    text-align: center;
    font-size: 11px;
    color: aqua;
}

.card--ocultar {
    display: none;
}

.card--oscuro {
    background-color: black;
    color: white;
}

.card__boton {
    background-color: aqua;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

.footer__horizontal {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.ul__stylefooter {
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 4REM;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    /*font-style: italic;
    position: relative;
    width: 150px;*/
}

.a__color--footer {
    color: rgb(22, 4, 86);
}

.h3__derechos {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 600px;
    color: rgb(41, 112, 112);
}

.footer__logo {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

/* animacion*/

.logo__titulo {
    /*  display: inline-block;*/
    animation-name: animate__rotateOut;
    /*coder;*/
    animation-duration: 15s;
    /*animation-iteration-count: 5;*/
    animation-iteration-count: infinite;
    /* animation-delay: 0s;*/
    animation-timing-function: linear;
    /*  animation-timing-function: cubic-bezier();*/
}

/*.main__ubicacion {
    padding-top: 20px;
    padding-left: 80px;
}*/
.parrafo__empresa {
    padding: 20px 120px 20px 20px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
}

.main__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    /*width: 50%;*/
}

.div__space {
    padding: 10px;
}

@keyframes animate__rotateOut {
    0% {
        /* 0 Segundos */
        transform: rotate(0deg);
        opacity: 100%;
    }

    25% {
        /* 0 Segundos */
        transform: rotate(90deg);
        opacity: 75%;
    }

    50% {
        /* 2 Segundos */
        transform: rotate(180deg);
        opacity: 50%;
    }

    75% {
        /* 2 Segundos */
        transform: rotate(270deg);
        opacity: 25%;
    }

    100% {
        /* 4 Segundos */
        transform: rotate(360deg);
        opacity: 10%;
    }
}

/* Animista */
.vibrate-1 {
    display: inline-block;
    /* animation: vibrate-1 0.3s linear infinite both; */
    animation-name: animate__shakeX;
    /*vibrate-1;*/
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animate__shakeX {
    0% {
        /* 0 Segundos */
        transform: translate(10px);
    }

    25% {
        /* 0 Segundos */
        transform: translate(40px);
    }

    50% {
        /* 2 Segundos */
        transform: translate(70px);
    }

    60% {
        /* 2 Segundos */
        transform: translate(-70px);
    }

    75% {
        /* 2 Segundos */
        transform: translate(-40px);
    }

    100% {
        /* 4 Segundos */
        transform: translate(-10px);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


/* Estilos para el elemento padre */
.grid {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border: 2px solid lightgray;
    padding: 0.5rem;
    height: 680px;
    display: grid;
    /* Sirve para generar las columnas de dicha cuadricula */
    grid-template-columns: repeat(3, 1fr);
    /* Sirve para generar las filas de dicha cuadricula */
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
        "img2 img2 img4"
        /* Primera fila de la cuadricula */
        "img5 img3 img4"
        /* Seguna fila de la cuadricula */
        "img5 img3 img4";
    /* Tercera fila de la cuadricula */

    /* Espacios desde el padre para columnas o filas */
    /* grid-column-gap: 10px;
    grid-row-gap: 15px; */
    /* row-gap: 20px;
    column-gap: 30px; */
    gap: 1rem;

    /* Opcionales en el padre */
    justify-items: stretch;
    align-items: stretch;

    justify-content: center;
    align-content: center;

}

/* Estilos para el elemento hijo */
.grid__hijo {
    /* border: 1px solid orange; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

/* Detalles de color de fondo para elementos hijos xD */

.grid__hijo--1 {
    grid-area: img1;
    /* Opcionales en el hijo */
    justify-self: start;
    /*align-self: center; */
    background-color: #2a80b9;
}

.grid__hijo--2 {
    grid-area: img2;
    background-color: #8f44ad;
}

.grid__hijo--3 {
    grid-area: img3;
    background-color: #16a086;
}

.grid__hijo--4 {
    grid-area: img4;
    background-color: #f1c40f;
}

.grid__hijo--5 {
    grid-area: img5;
    background-color: #e77e23;

}

.grid__hijo--6 {
    grid-area: img6;
    background-color: pink;

}

.grid__img,
.grid__iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    /*    navy;*/
    border-radius: 6px;
    color: orange;
    padding: 0.5rem 1rem;
}


/* Tablet */
@media screen and (max-width:1210px) {
    .maim__inicio1__centro {
        display: none;
    }

    .main__inicio1 {
        flex-direction: column;
        padding: 5rem 1rem;
    }

    .h2__color {
        display: none;
    }

    .footer__horizontal {
        display: flex;
        flex-direction: column;
    }

    .h3__derechos {
        padding-left: 10px;
        font-size: 20px;
    }

    .main__inicio1__ilustracion {
        width: 700px;
        margin-left: 300px;
    }
}

/* Movil */
@media screen and (max-width:599px) {
    .nav {
        display: none;
        background-color: black;
        /*background-color: transparent;*/
        position: fixed;
        /* top, left, right, bottom */
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 33%;
        height: 30vh;
        /*  color: rgb(0, 0, 0);*/
    }

    .header__icono {
        display: block;
    }

    .nav__lista {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        height: 100%;
    }

    .nav:target {
        display: block;
    }

    .nav__item--oculto {
        display: block;
    }

    .main__inicio1 {
        flex-direction: column;
        padding: 5rem 1rem;
    }

    .h2__color {
        display: none;
    }

    .main__inicio1__titulo {
        font-size: 30px;
    }

    .main__inicio1__parrafo {
        font-size: 15px;
    }

    .main__inicio1__color {
        margin-left: 0px;
    }

    .main__inicio1__ilustracion {
        width: 320px;
        margin-left: 1px;
    }

    .footer__horizontal {
        display: flex;
        flex-direction: column;
    }

    .h3__derechos {
        padding-left: 1px;
        font-size: 15px;
    }

    .grid {
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;

        border: 2px solid lightgray;
        padding: 0.1rem;
        height: 320px;
        display: grid;
        /* Sirve para generar las columnas de dicha cuadricula */
        grid-template-columns: repeat(3, 1fr);
        /* Sirve para generar las filas de dicha cuadricula */
        grid-template-rows: repeat(3, 1fr);

        grid-template-areas:
            "img2 img2 img4"
            /* Primera fila de la cuadricula */
            "img5 img3 img4"
            /* Seguna fila de la cuadricula */
            "img5 img3 img4";
        /* Tercera fila de la cuadricula */

        gap: 0.5rem;

        justify-items: stretch;
        align-items: stretch;

        justify-content: center;
        align-content: center;

    }

    .grid__text {
        font-size: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: black;
        /*    navy;*/
        border-radius: 6px;
        color: orange;
        padding: 0.5rem 0.5rem;
    }

    main {
        margin-top: 20px;
        margin-bottom: 1px;
        /*    background: linear-gradient(to right, #F27121, #b32a3d, black);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #24adaf, #074e5d, rgb(1, 29, 36));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .main__ubicacion {
        padding-top: 80px;
        /*width: 120px;*/
        /*padding-left: 80px;*/
    }

    .main__empresa_imagen {
        width: 320px;
    }

    .parrafo__empresa {
        padding: 20px 120px 20px 20px;
        font-family: Arial, Helvetica, sans-serif, cursive;
        font-style: italic;
        font-weight: bold;
        text-align: justify;
        font-size: medium;
        display: flex;
        flex-wrap: wrap;
    }

    .main__empresa_titulo {
        font-size: medium;
    }

    .main__contacto__ubicacion {
        width: 300px;
    }

    .main__contacto__section {
        margin-top: 100px;
        margin-left: 100px;
    }

    .card__image--primera {
        margin-top: 82px;
    }
}