main {
    margin-top: 100px;
    min-height: 80vh;
    /* background: linear-gradient(to right, #F27121, #b32a3d, black);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #24adaf, #074e5d, rgb(1, 41, 51));
}

.main__inicio1 {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: relative;
}

.main__inicio1__color {
    background-color: rgb(1, 29, 36);
    border-radius: 14px;
    color: $colorbase;
    font-style: italic;
    font-weight: bold;
    margin-left: 60px;
    text-align: center;
}

.main_h1_size {
    font-weight: bold;
}

.main__inicio1__ilustracion {
    padding-top: 5px;
    align-items: center;
    margin-left: 60px;
    width:750px;
    height:400px;    
}

.main__ubicacion {
    padding-top: 20px;
}

.main__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.parrafo__empresa {
    padding: 20px 120px 20px 20px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
}

.main__empresa_titulo {
    font-weight:bold;
}

/*.main__contacto__section {
     background-image: "../imagenes/side.jpeg"; 
     background-size: 10rem;
}*/
